body {
    background-color: #e7ecf0;
}
 
nav {
    background-color: #ffffff;
    border-bottom: 1px solid #adb1b4;
    margin-bottom: 10px;
}
button {
  transition: box-shadow .3s;
  border-radius:10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
  
}
button:hover {
    box-shadow: 0 0 6px rgb(35 173 255);
}
#id_sub {
    transition: box-shadow .3s;
    border-radius:10px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
}
#id_sub:hover {
    box-shadow: 0 0 6px rgb(35 173 255);
}
img.tw-user-small {
    height: 40px;
}
 
img.tw-user-medium {
    height: 50px;
}

#nav-search {
    border-radius: 20px;
    background-color: #e7ecf0
}
 
#nav-tweet-btn {
    border-radius: 20px;
    background-color: #67b1f9;
    color: #ffffff;
}

.content-box {
    background-color: #ffffff;
    margin-bottom: 10px;
}

.new-tweet-row {
    background-color: #eaf5fe;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tweet {
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #edf1f4;
}
 
.tweet-username {
    font-weight: bold;
}
 
.tweet-arrow {
    padding-right: 25px;
}
 
.tweet-text,
.tweet-media {
    padding-right: 10px;
}
.img-fluid{
    width: 100%;
}
.color-border {
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}
.p-r{
    padding-right: 0px;
}

