.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }
.grid-container {
    display: grid;
    grid-template-areas:
      'menu menu right right right right'
      'menu menu header header header header'
      'menu menu main main main main'
      'menu menu footer footer footer footer';
    gap: 10px;
    /* background-color: #fd0000; */
    padding: 5px;
    width: 85%;
    margin: auto;

}
.color_grid_menu {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin-left: 20px;

}
.color_grid_main {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin-right: 20px;
}
.m-2 {
    margin: 20px;
}
.b-b-3 {
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(25, 110, 85);    
}

.b-r-16{
    border-radius: 16px;
    background-color: rgb(224, 222, 219);
    height: 15px;
}
.sssssss {
    background-color: rgb(0, 150, 135);
    height: 15px;
    border-radius: 16px;
}
.m-l-3 {
    margin-right: 3px;
}
.m-l-2 {
    margin-right: 7px;
}
.br-16 {
    border-radius: 16px;
}
.h20{
    height: 20px;
}
.b-r-b-16{
    border-radius: 16px 16px 0px 0px;
}
.relative {
    position: relative;
    top: -20px;
}
.relative1 {
    position: relative;
    top: -60px;
}
.relative2 {
    position: relative;
    top: -100px;
}
.relative3 {
    position: relative;
    top: -130px;
}
.pt-5 {
    padding-top: 35px;
}
.bb {
    padding-bottom: 30px;
}
.bb1 {
    padding-bottom: 38px;
}
.b-r-1{
    border-radius: 16px;
    background-color: rgb(224, 222, 219);
    height: 8px;
}
.color_br {
    background-color: rgb(0, 150, 135);
    height: 8px;
    border-radius: 16px;
}
.ml {
    margin-left: 15px;
}
.ml-30 {
    margin-left: 30px;
}
.ml-1 {
    margin-left: 5px;
}
.mr {
    margin-right: 10px;
}
.mr1 {
    margin-right: 18px;
}
.test-teal {
    color:#064942
}
.test-green {
    color:#05ac7a
}
.shadow {
    box-shadow:  5px 5px 3px 5px rgb(179, 189, 192);
}
@media only screen and (min-width: 1180px) {
    .w1-ml1 {width: 700px;}
}
@media only screen and (min-width: 1280px) {
    .w1-ml {width: 800px;}
}
@media only screen and (min-width: 1490px) {
    .w1-n {width: 900px;}
}
@media only screen and (min-width: 1650px) { 
    .w1-m {width: 1000px;}
}
table {
    margin: auto;
    width: 80%;
}
td, th {
    border: 2px solid #064942;
    text-align: center;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.bold {
    font-weight: bold;
}
.f-w {
    font-weight: 600;
}

.mt-8 {
    margin-top: 80px;
}
.mb-8 {
    margin-bottom: 80px;
}
p {
    font-weight: 600;
}
.color-white {
    color: #ffffff;
}
